.x-buttongroup{
	*text-align: center;
}
.x-buttongroup-content {
	height: 69px;
	float: left;
	margin: 4px 2px 0;
	display: inline-block;
}


.x-buttongroup-container {
	height: 75px;
	*text-align: left;
}


.x-buttongroup-title {
	text-align: center;
	color: #5b626c;
	font-size: 12px;
	height: 20px;
}

/** 按钮 */


/* 所有 */

.x-buttongroup-content.x-button .x-button-container{
	height: 69px;
}

.x-buttongroup-content-three, .x-buttongroup-content-two  {
	height: 23px;
	line-height: 18px;
	display: block;
}


.x-buttongroup-content-two, .x-buttongroup-content-one {
	padding: 6px 0;
}

/* 下拉 */

.x-ribbon .x-buttongroup-content.x-menubutton button{
	height: 69px;
}


.x-ribbon .x-buttongroup-content.x-button .x-button-menu , .x-ribbon .x-buttongroup-content.x-button span.x-icon{
	display: block;
	float: none;
	margin: 0 auto;
}

.x-ribbon .x-buttongroup-content.x-button .x-icon{
	width: 30px;
	height: 30px;
}



/* 组合 */

.x-ribbon .x-buttongroup-content.x-splitbutton button {
	height: 30px;
	width: 100%;
	
}

.x-ribbon .x-buttongroup-content.x-splitbutton .x-button-menu {
	background-position: bottom center;
	height: 30px;
	width: auto;
	margin-right: 5px;
	margin-top: 2px;
}


.x-ribbon .x-buttongroup-content.x-splitbutton .x-split {
	float: none;
	display: block;
	margin: 0 0 0 -2px;
	border-right: none;
	border-bottom: 1px solid white;
	width: 100%;
	height: 1px;
}

.x-ribbon .x-buttongroup-content.x-splitbutton:active .x-split {
	background: #d08711;
}
