

/**    核心      */

/* 删除标签自带 mragin， padding  */
html, body, applet, object, iframe, .x-header h3 {
	padding: 0;
	margin: 0;
}

/* 删除标签自带 border   */
html, body {
	border: 0;
	height:100%; 
}

/* 文本框 */
input {
	vertical-align: bottom;
	*vertical-align: middle;
}

/**  公共    */
 
/* 删除浮动 */
.x-clear {
	clear: both;
}

 /* 图标 */
.x-icon {
	float: left;
	display: block;
	width: 19px;
	height: 19px;
	overflow: hidden;
    color: transparent;
	background-repeat: no-repeat;
	text-decoration: none;
}

/** 标准面板 */

/* 顶部和底部 */
.x-header, .x-footer {
	padding-left: 4px;
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: default;
}

/* 容器 */
.x-header-container, .x-footer-container{
	padding-right: 4px;
	background-repeat: no-repeat;
}

/* 顶部容器 */
.x-header {
	height:28px;
}

/* 顶部内容 */
.x-header-content {
	background-repeat: repeat-x;
	padding: 3px 1px 1px 5px;
	line-height: 24px;
	overflow: hidden;
}

/* 可移动容器标题 */
.x-movable .x-header {
	cursor: move;
}

/* 工具按钮   */
.x-header a.x-icon {
	float:right;
	margin-top: 3px;
	margin-right: 1px;
}

.x-header h3 .x-icon {
	margin-top: 2px;
}

/* 正文 */
.x-container {
	display:block;
	border-style: solid;
	overflow: auto;
	
	/*  IE6 必须在有 width 才可支持 overflow 属性  *//*

	_width: expression(parseInt(this.parentNode.currentStyle.width) - 2);
*/
}


/* 内容 */
.x-content {
	padding: 5px;
}

/* 底部内容 */
.x-footer-content  {
	height: 5px;
	font-size: 0;
	background-repeat: repeat-x;
	overflow: hidden;
}

/** 列表  */

/* 删原有属性 */
.x-list-container , .x-list-content {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}




.x-green{
	background: green;
}


.x-red{
	background: red;
}





.x-layout-absolute {
	position: absolute;
}




/* 自动溢出  */
.x-layout-flow{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
	letter-spacing: 0px;
}



#py_proxy {
	z-index: 100000;
}
