



/*  accordion  */
.x-accordion-header {
	background-repeat: repeat-x;
	cursor: pointer;
	height: auto;
}

.x-accordion-header h3 {
	padding-right:25px;
	height: 25px;
	line-height: 24px;
}





