

.x-balloontip {
	position: absolute;
	z-index: 100000;
}

.x-balloontip-content {
	_zoom: 1;
	overflow: hidden;
}

.x-balloontip-anchor {
	position: absolute;
	background-repeat: no-repeat;
	height:22px;
	width: 22px;
}


.x-balloontip-anchor-br, .x-balloontip-anchor-bl {
	bottom: -20px;
} 

.x-balloontip-anchor-br, .x-balloontip-anchor-tr {
	right: 30px;
}

.x-balloontip-anchor-bl, .x-balloontip-anchor-tl {
	left: 30px;
}

.x-balloontip-anchor-tl, .x-balloontip-anchor-tr {
	top: -20px;
}

.x-balloontip-anchor-lt, .x-balloontip-anchor-lb {
	left: -20px;
} 

.x-balloontip-anchor-lt, .x-balloontip-anchor-rt {
	top: 10px;
}

.x-balloontip-anchor-lb, .x-balloontip-anchor-rb {
	bottom: 10px;
}

.x-balloontip-anchor-rt, .x-balloontip-anchor-rb {
	right: -20px;
}


