

.x-commandbutton,  .x-commandbutton-container  {
	display: inline-block;
	border-style: solid;
	border-color:  #f0c958;
}


.x-commandbutton {
	
	height: 60px;
	border-width: 1px 0;
	cursor: default;
	text-align: center;
}



.x-commandbutton-container {
	margin: 0 -1px;
	
	background: url(images/command.gif);
	height: 100%;
	border-width: 0 1px;
}


.x-commandbutton-container:active {
	background-position: 0 -70px;
	/*
border-color: #c2762b;
*/
}



.x-commandbutton.x-plain,.x-commandbutton.x-plain .x-commandbutton-container  {
	border-color: transparent;
	background: none;
	_border-color: #ffffff;
	_filter:chroma(color=#ffffff);
}


.x-commandmenustrip-content{
	padding: 10px 3px;
}
