


/*  listBox        */


.x-listbox-content{
	padding:0 2px;
	height:22px;
}

.x-listbox-content{
	font-size: 12px;
	line-height:22px;
    clear: both;
    display: block;
}

.x-listbox-content:hover{
	background-color: #EEEEEE;
}

.x-listbox-content.x-selected{
	background-color:#DFE8F6;
}



.x-listbox-container{
    border-width: 1px;
	border-style: solid;
	border-color: #a2bac0 #b8d0d6 #b8d0d6 #a2bac0;
}

.x-listbox-container:hover {
    border-color: #64aabc #a9d7e3 #a9d7e3 #64aabc;
} 