


.x-menu-button-updown {
	background-position: 1000px 1000px;
}



.x-menu-button-updown-up, .x-menu-button-updown-down{
	width: 100%;
    background-image: url(images/menubuttons.gif);
	background-repeat: no-repeat;
	height: 11px;
	display: block;
}



.x-menu-button-updown-up{
	background-position: -96px 0;
}


.x-menu-button-updown-down{
	background-position: -96px -11px;
}


.x-menu-button-updown-up:hover{
	background-position: -96px -22px;
}
.x-menu-button-updown-down:hover{
	background-position: -96px -33px;
}

.x-menu-button-updown-up:active{
	background-position: -96px -44px;
}
.x-menu-button-updown-down:active{
	background-position: -96px -55px;
}