

.x-splitter-l .x-splitter-handle, .x-splitter-r .x-splitter-handle {
	background-position: 0 center;
}

.x-splitter-l .x-splitter-handle{
	background-image:url(images/mini-left.gif);
}

.x-splitter-r .x-splitter-handle{
	background-image:url(images/mini-right.gif);
}

.x-splitter-t .x-splitter-handle{
	background-image:url(images/mini-top.gif);
}

.x-splitter-b .x-splitter-handle{
	background-image:url(images/mini-bottom.gif);
}

.x-collapse .x-splitter-l .x-splitter-handle{
	background-image:url(images/mini-right.gif);
}

.x-collapse .x-splitter-r .x-splitter-handle{
	background-image:url(images/mini-left.gif);
}

.x-collapse .x-splitter-t .x-splitter-handle{
	background-image:url(images/mini-bottom.gif);
}

.x-collapse .x-splitter-b .x-splitter-handle{
	background-image:url(images/mini-top.gif);
}
