

.x-balloonbox {
	background-color: #eef4f5;
	width: 300px;
	left: 50%;
    margin-left: -150px;
	top: 0;
	position: absolute;
}


.x-balloonbox  .x-window-container{
	background-color: #eef4f5;
	overflow: hidden;
}





.x-balloonbox   .x-dialog-buttons{
	background: #eef4f5;
	height: 23px;
	width: 100%;
	text-align: right;
}




.x-dialog-buttons .x-button{
	margin-right: 20px;
}



.x-balloonbox-content{
	margin: 10px 10px 6px 10px;
	background: #FEFACF;
	padding: 5px;
	border: 1px solid #bcd3d8;
	line-height: 24px;
}


.x-balloonbox-content h3{
	margin: 0;
	border-style: solid;
    border-width: 0 0 1px;
	border-color: #CCCCCC;
	font-size: 16px;
}


.x-balloonbox-text {
	padding: 0 10px;
}
