

/*  按钮            */
.x-button{
	cursor: default;
	vertical-align: top;
	overflow: hidden;
	padding-left: 4px;
}

.x-button-container {
	padding-right: 4px;
}

.x-button-container, .x-button-content, .x-button {
	height: 23px;
	display: inline-block;
}

.x-button button {
	margin: 0 -4px;
	height: 22.9px;
	font-size: 14px;
	background: none;
	padding: 0 6px;
	_padding: 0;
	color: #183152;
	border: none;
	vertical-align: baseline;
	
}


/* 内容 */

.x-button-label {
	line-height: 22.9px;
}


.x-button-container, .x-button-content, .x-button{
	background-image: url(images/buttons.gif);
	background-repeat: no-repeat;
}

.x-button-container{
	background-position: 100% -50px;
}

.x-button-content {
	background-position: 0 -25px;
	background-repeat: repeat-x;
}

/* 状态  */

.x-button:hover{
	background-position: 0 -75px;
}

.x-button:hover .x-button-container{
	background-position: 100% -125px;
}

.x-button:hover .x-button-content{
	background-position: 0 -100px;
}

/* IE6-9 和  Opera   不会处理   .x-button:active  (因为存在  <button>)  但我们忽略它。        */

.x-button:active {
	background-position: 0 -150px;
}

.x-button:active .x-button-container{
	background-position: 100% -200px;
}

.x-button:active .x-button-content{
	background-position: 0 -175px;
}

.x-button:active button{
	position:relative;
	top:1px;
	left:1px;
}




/* 选中 */

.x-button.x-checked {
    background-position: 0 -225px;
} 

.x-button.x-checked .x-button-container {
    background-position: 100% -275px;
}

.x-button.x-checked .x-button-content {
    background-position: 0 -250px;
}


.x-button.x-checked:hover {
    background-position: 0 -300px;
} 

.x-button.x-checked:hover .x-button-container {
    background-position: 100% -350px;
}

.x-button.x-checked:hover .x-button-content {
    background-position: 0 -325px;
} 

/* 禁用  */

.x-button.x-disabled {
    background-position: 0 -375px!important;
} 

.x-button.x-disabled .x-button-container {
    background-position: 100% -425px!important;
}

.x-button.x-disabled .x-button-content {
    background-position: 0 -400px!important;
} 

.x-button.x-disabled:active button{
	position: static!important;
}




/* 图标 */

button .x-icon {
	margin-top: 2px;
	_width: 17px;
	_margin-left: 3px;
}



/* 平板    */

.x-button.x-plain, .x-button.x-plain .x-button-container, .x-button.x-plain .x-button-content{
	background: none!important;
}

