

/**  范围  */
.x-button{
	padding-left: 4px;
	cursor: default;
	vertical-align: top;
	overflow: hidden;
}

.x-button-container, .x-button{
	display: inline-block;
	height: 23px;
}

.x-button-container {
	vertical-align: baseline;
}

.x-button-container button {
	margin: 0 0 0 -4px;
	padding: 0 4px;
	height: 22.9px;
	font-size: 14px;
	background: none;
	color: #183152;
	border: none;
	
	*padding: 0;
}

.x-button-container, .x-button{
	background-image: url(images/buttons.gif);
}

.x-button-container{
	background-position: 100% -160px;
}

/* 状态  */

.x-button:hover{
	background-position: 0 -27px;
}

.x-button:hover .x-button-container{
	background-position: 100% -187px;
}

.x-button.x-active {
	background-position: 0 -54px;
}

.x-button.x-active .x-button-container{
	background-position: 100% -214px;
}

.x-button.x-active button{
	position:relative;
	top:1px;
	left:1px;
	
	*position: static;
}




/* 选中 */

.x-button.x-checked {
    background-position: 0 -81px;
} 

.x-checked .x-button-container {
    background-position: 100% -241px;
}

.x-button.x-checked:hover {
    background-position: 0 -108px;
} 

.x-button.x-checked:hover .x-button-container {
    background-position: 100% -268px;
}

/* 禁用  */
.x-button.x-disabled{
    background-position: 0 -135px!important;
}

.x-button.x-disabled .x-button-container {
    background-position: 100% -295px!important;
}



/* 内容 */

.x-button-label {
	line-height: 22.9px;
}




/* 菜单 */

.x-button-menu {
	width: 12px;
	background: center right no-repeat;
	display: inline-block;
	font-size: 14px;
	
	*height: auto;
}


.x-button-menu {
	background-image: url(images/arrow.gif);
}

/* 分隔 */
.x-split {
	display: inline-block;
	width:1px;
	border-right: 1px solid white;
	height: 18px;
	
	_font-size: 1px;
}

.x-split {
	background-color: #9ac6ff;
}


.x-button.x-disabled .x-split{
	background-color: #999999;
}



/* 图标 */

button .x-icon {
	width: 17px;
	margin-top: 2px;
	/*
*float: none;
	*position: expression((this.parentNode.style.position = 'relative') &&( this.parentNode.style.paddingLeft = '12px') && (this.runtimeStyle.position = 'absolute'));
	*top: 2px;
	*left: 2px;
*/


*margin-left: 6px;
*margin-right:-5px;

_margin-left: 4px;

}




.x-button.x-plain, .x-button.x-plain .x-button-container{
	background: none!important;
}


.x-button.x-plain .x-split{
	visibility: hidden;
}
