/** 分隔菜单   */

.x-splitbutton button{
	margin-right: -2px;
	padding-right: 2px;
}

.x-splitbutton .x-button-arrow{
	*background-position-y:   20%;
	_background-position-y: -30%;
}


/*  背景   */

.x-splitbutton:active button, .x-splitbutton.x-disabled .x-button-arrow:active {
	position: static;
}

.x-splitbutton button:active, .x-splitbutton .x-button-arrow:active{
	position:relative;
	top:1px;
	left:1px;
}


/* 分隔 */

.x-splitbutton .x-split{
	margin-top: 2px;
}


.x-split {
	display: inline-block;
	width:1px;
	border-right: 1px solid white;
	height: 18px;
	
	_font-size: 1px;
}

.x-split {
	background-color: #9ac6ff;
}

.x-splitbutton.x-plain .x-split {
	visibility: hidden;
}



.x-button.x-disabled .x-split{
	background-color: #999999;
}

