.x-balloontip-header .x-header-content {
	border-top: solid 1px black;
	padding: 4px 1px 4px 8px;
}

.x-balloontip-footer .x-footer-content {
	border-bottom: solid 1px black;
}

/* 顶部容器 */
.x-balloontip-header .x-header-container, .x-balloontip-footer .x-footer-container{
	padding-right: 8px;
}

.x-balloontip-header,.x-balloontip-footer{
	padding-left: 8px;
}

.x-balloontip-container {
	border-color: #000;
}

.x-balloontip-header,.x-balloontip-header .x-header-container , .x-balloontip-footer, .x-balloontip-footer .x-footer-container {
    background-image: url(images/balloontip.gif);
}

.x-balloontip-container, .x-balloontip-header .x-header-content, .x-balloontip-footer .x-footer-content{
	background-color: #fbfbfd;
}

.x-balloontip-header .x-header-container {
	background-position: 100% -40px;
}

.x-balloontip-footer {
	background-position: 0 -80px;
}

.x-balloontip-footer .x-footer-container {
	background-position: 100% -120px;
}

.x-icon-balloontip-close{
	background-position: -75px -100px;
}

.x-icon-balloontip-close:hover {
	background-position: -75px -125px;
}

.x-balloontip-anchor {
	background-image: url(images/anchors.gif);
}

.x-balloontip-anchor-br {
	background-position: -25px 0;
} 

.x-balloontip-anchor-tl {
	background-position: -50px 0;
}

.x-balloontip-anchor-tr {
	background-position: -75px 0;
}


.x-balloontip-anchor-lt {
	background-position: 0px -25px;
} 

.x-balloontip-anchor-lb {
	background-position: -25px -25px;
} 

.x-balloontip-anchor-rt {
	background-position: -50px -25px;
}

.x-balloontip-anchor-rb {
	background-position: -75px -25px;
}

