/* TabsPage */
.x-tabPages .x-header, .x-tabPages .x-header li, .x-tabPages .x-header-container, .x-tabPages .x-header li a, .x-tabPages .x-header li span {
    background-image: url(images/tabs/tabspage.png);
} .x-tabPages .x-header {
    background-color: #e9f0f2;
} .x-tabPages .x-header {
    border-color: #b8d0d6;
} .x-tabPages .x-header li a {
    /*
color: #183152;
*/
} .x-tabPages .x-header li .close, .x-tabPages .x-header li.hover .close, .x-tabPages .x-header li.selected .close {
    background: url(images/tabs/tabs_icon.png) no-repeat;
} .x-tabPages .tabsLeft, .x-tabPages .tabsRight, .x-tabPages .tabsMore {
    background: url(images/tabs/tabscontrol.png) no-repeat;
} .x-tabPages .tabsMoreList {
    border-color: #b8d0d6;
    background: #FFF;
} .x-tabPages .x-header .home_icon {
    background: url(images/icon.png) no-repeat;
}

.x-tabPages .x-container {
    border-color: #b8d0d6;
	background-color: transparent;
}
 
 