


/* 窗口 */
.x-window-header, .x-window-header .x-header-container, .x-window-header .x-header-content , .x-window-footer, .x-window-footer .x-footer-container, .x-window-footer .x-footer-content { 
	background-image:url(images/window.gif);
}

.x-window-header .x-header-container {
    background-position: 100% -50px;
}

.x-window-header .x-header-content {
     background-position: 0 -100px;
}

.x-window-container {
    background-color: white;
}

.x-window-footer {
    background-position: 0 -150px;
}

.x-window-footer .x-footer-container {
    background-position: 100% -200px;
}

.x-window-footer .x-footer-content {
    background-position: 0 -250px;
}



/* 按钮 */
.x-window.x-resizable .x-resizable-rb {
	background-image:url(../control/images/icons.gif);
	width: 11px;
	height: 11px;
	background-position: -50px -125px;
}

/* 按钮 */

.x-icon-close {
    background-position: -150px 0;
}

.x-icon-close:hover {
    background-position: -150px -25px;
}

.x-icon-maximize {
    background-position: -25px 0;
}

.x-icon-maximize:hover {
    background-position: -25px -25px;
}

.x-icon-restore {
    background-position: -25px -50px;
}

.x-icon-restore:hover {
    background-position: -25px -75px;
}

.x-icon-minimize {
    background-position: -50px 0;
}

.x-icon-minimize:hover {
    background-position: -50px -25px;
}




