

.x-toolstrip {
	height: 23px;
	padding: 2px;
}

.x-toolstrip-container {
	height: 100%;
}


.x-toolstrip-content {
	float: left;
}

.x-toolstrip-content .x-label{
	line-height: 25px;
	font-size: 14px;
	color: #183152;
	cursor: default;
	display: inline;
	margin: 0 2px;
}



.x-toolstrip-content .x-split{
	margin: 2px 0px 0 1px;
}



.x-button .x-split{
	margin-left: -1px;
}
