<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
	    <title>布局    </title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <link href="../../py/resources/share/control/core.css" rel="stylesheet" type="text/css" />
		<link href="../../py/resources/default/control/core.css" rel="stylesheet" type="text/css" />
	    <link href="../../py/resources/share/control/splitter.css" rel="stylesheet" type="text/css" />
	    <link href="../../py/resources/share/layout/box.css" rel="stylesheet" type="text/css" />
		<link href="../../py/resources/default/layout/box.css" rel="stylesheet" type="text/css" />
		<link href="../../py/resources/default/control/icons.css" rel="stylesheet" type="text/css" />
		
		<script src="../../py/system.js" type="text/javascript"></script>
		<script src="../../py/system/dom/element.js" type="text/javascript"></script>
	
		<script src="../../py/system/fx/base.js" type="text/javascript"></script>
		<script src="../../py/system/fx/animate.js" type="text/javascript"></script>
	
		<script src="../../py/system/controls/control.js" type="text/javascript"></script>
		<script src="../../py/system/controls/layout/layoutengine.js" type="text/javascript"></script>
	    <script src="../../py/system/controls/layout/advancelayout.js" type="text/javascript"></script>
		<script src="../../py/system/controls/scrollablecontrol.js" type="text/javascript"></script>
		<script src="../../py/system/controls/surround.js" type="text/javascript"></script>
		<script src="../../py/system/controls/resizing.js" type="text/javascript"></script>
		<script src="../../py/system/controls/splitter.js" type="text/javascript"></script>
	    <script src="../../py/system/controls/layout/boxlayout.js" type="text/javascript"></script>
	    
		<script src="../../common/project/project.js" type="text/javascript"></script>
		<script src="../../common/assets/scripts/default.js" type="text/javascript"></script>
		<script src="../../common/assets/scripts/debug.js" type="text/javascript"></script>
	</head>	
	
	<body style="padding:60px">
	    <div id="ct" style="width:100%; height:100%; padding: 20px; " class="x-box">
	        <div id="p1" style="background: yellow;" class="x-box">a</div>
			<div id="p2" style="background: green; height: 100px; width: 100px" class="x-box">b</div>
	        <div id="p3" style="background: red; height: 200px; width: 100px" class="x-box">c</div>
	    </div>
		
	        <script type="text/javascript">
	    
	   
	        var layout = new Layout.BoxLayout();
	        
	        var ctrl = new Control({
	            dom: 'ct',
				layoutDirection: 'horizonal',
	            controls: [
	                new Control({
	                    dom: 'p1',
						split: true,
						name: 'sss',
						collapsable: true,
						width: 300,
						dock: 'left'
	                }),
	                
	                new Control({
	                    dom: 'p2',
						split: true,
						name: 'sss3434',
						collapsable: true,
						dock: 'right'
	                }),
	                
	                new Control({
	                    dom: 'p3',
						dock: 'fill'
	                })
	            ]
	        });
	        
	        
	      
			
	        layout.initLayout(ctrl);
	       
		   	layout.layout(ctrl);
			
			
		
	        </script>
			
	</body>
</html>
