


.x-groupbox.x-collapsed {
	border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px 1px 0 !important;
    padding-bottom: 0 !important;
}



.x-groupbox-header {
	color: #183152;
	font-weight: 700;
}




.x-icon-groupbox {
	background-position: -200px 0;
	
	overflow: hidden;
}

.x-icon-groupbox:hover {
	background-position: -200px -25px;
}


.x-groupbox.x-collapsed .x-icon-groupbox {
	background-position: -200px -50px;
}

.x-groupbox.x-collapsed .x-icon-groupbox:hover {
	background-position: -200px -75px;
}


.x-groupbox-container{
	padding: 5px;
}

