




/* 默认方式 */

.x-layout-top,  .x-layout-middle,  .x-layout-bottom {
	position: absolute;
	width:100%;
}

.x-layout-top{
	top:0px;
}

.x-layout-middle{
	height: auto;
	_height: expression(this.parentNode.clientHeight - this.style.pixelTop - this.style.pixelBottom);
}

.x-layout-bottom{
	bottom: 0px;
}

.x-layout-left {
	left: 0px;
}

.x-layout-right {
	right: 0px;
	width: auto;
}

.x-layout-fill{
	width: auto;
	_width: expression(this.parentNode.clientWidth - this.style.pixelLeft - this.style.pixelRight);
}

.x-layout-top .x-layout-default,  .x-layout-bottom .x-layout-default {
	width: 100%!important;
	position: static;
}

.x-layout-left .x-layout-default {
	float: left;
}

.x-layout-right .x-layout-default {
	float: right;
}

.x-layout-left .x-layout-default,  .x-layout-right .x-layout-default {
	height: 100%!important;
	position: static;
}

.x-layout-left,  .x-layout-fill,  .x-layout-right{
	position: absolute;
	height: 100%;
}

.x-layout-fill  .x-layout-default{
	width: 100%!important;
	height: 100%!important;
}

