

.x-region-container{
	position: absolute;
}



.x-region-top, .x-region-middle, .x-region-bottom, .x-region-left, .x-region-fill, .x-region-right{
	position: absolute;
	z-index: 10;
}


.x-region-left, .x-region-fill, .x-region-top, .x-region-middle, .x-region-bottom {
	left: 0;
}


.x-region-top , .x-region-left, .x-region-fill, .x-region-right {
	top: 0;
}

 
.x-region-bottom {
	bottom: 0;
}

 
.x-region-right{
	right: 0;
	_right: -1px;
}


.x-region-middle, .x-region-fill{
	z-index: 1;
}

.x-region-popup {
	z-index: 14;
}

