





/* 输入按钮  */
.x-menu-button {
	overflow: hidden;
	cursor: pointer;
	height: 22px;
	border: 0;
	line-height: 24px;
    text-indent: -1000px;
    width: 16px;
	display: inline-block;
	background-repeat: no-repeat;
	
	padding: 0;
}

.x-menu-button {
    background-image: url(images/menubuttons.gif);
}

.x-menu-button.x-menu-button-search:hover {
    background-position: 0 -22px;
}

.x-menu-button.x-menu-button-search:active {
    background-position: 0 -44px;
}


.x-menu-button.x-menu-button-narrow-right {
    background-position: -16px -0px;
}

.x-menu-button:hover.x-menu-button-narrow-right {
    background-position: -16px -22px;
}

.x-menu-button:active.x-menu-button-narrow-right {
    background-position: -16px -44px;
}

.x-menu-button.x-menu-button-narrow-down {
    background-position: -32px -0px;
}

.x-menu-button:hover.x-menu-button-narrow-down {
    background-position: -32px -22px;
}

.x-menu-button:active.x-menu-button-narrow-down {
    background-position: -32px -44px;
}

.x-menu-button.x-menu-button-date {
    background-position: -48px -0px;
}

.x-menu-button:hover.x-menu-button-date {
    background-position: -48px -22px;
}

.x-menu-button:active.x-menu-button-date {
    background-position: -48px -44px;
}

.x-menu-button.x-menu-button-ellipsis {
    background-position: -64px -0px;
}

.x-menu-button:hover.x-menu-button-ellipsis {
    background-position: -64px -22px;
}

.x-menu-button:active.x-menu-button-ellipsis {
    background-position: -64px -44px;
}

.x-menu-button.x-menu-button-clear {
    background-position: -80px -0px;
}

.x-menu-button:hover.x-menu-button-clear {
    background-position: -80px -22px;
}

.x-menu-button:active.x-menu-button-clear {
    background-position: -80px -44px;
}


.x-menutextbox {
	vertical-align: bottom;
}


.x-searchtextbox {
	display: inline;
}

