
 /* 菜单    */
.x-contextmenu{
	width:130px;
	position: absolute;
}

.x-contextmenu-container{
	margin: 0px;
    padding: 2.8px;
}

.x-contextmenu-content{
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
    white-space: nowrap;
	border-style: solid;  
    border-width: 1px 0;
	border-color: transparent;
	list-style: none;
}

.x-contextmenu .x-active  {
	background-position: center;
}

.x-contextmenu-item{
    line-height: 16px;
	overflow: hidden;
	display: block;
    padding: 3px 21px 3px 2px;
    text-decoration: none;
	margin: 0 -1px; /* 鐢熸垚鍦嗚鐐?*/
	border-style: solid;
    border-width: 0 1px;
	border-color: transparent;
	cursor: default;
	_height: 16px;
}

.x-contextmenu-content .x-icon {
	display: inline-block;
	width: 26px;
	height: 16px;
	float: none;
	background-repeat: no-repeat;
	vertical-align: bottom;
}

.x-contextmenu-content a.x-split {
	display: block;
	margin: 0 0 0 22px;
	
	background-color: #E0E0E0;
	height: 1px;
    border-bottom: 1px solid #FFFFFF;
	*font-size:expression(this.style.fontSize = this.parentNode.style.lineHeight = this.parentNode.style.fontSize = 1);
}

.x-contextmenu-plain{
	background-image: none!important;
}

.x-contextmenu-plain a.x-contextmenu-split{
	margin: 0;
}

.x-contextmenu-item-arrow {
    background: no-repeat right center;
}

.x-contextmenu-handle-top, .x-contextmenu-handle-bottom {
	width: 100%;
	height: 6px;
    line-height: 6px;
	font-size: 6px;
	display: block;
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	margin-left: -1px;
}

.x-contextmenu-content, .x-contextmenu-item, .x-contextmenu-handle-top, .x-contextmenu-handle-bottom {
	_border-color:#f0f0f0; 
	_filter:chroma(color=#f0f0f0);
}