
/***********************************************
 *	阴影和可变区
 ***********************************************/


.x-shadow-lt, .x-shadow-rt, .x-shadow-lb, .x-shadow-rb{
	background:url(images/shadow-lrtb.png)  no-repeat;
}

.x-shadow-c{
	background:url(images/shadow-c.png);
}

.x-shadow-l, .x-shadow-r {
	background:url(images/shadow-lr.png) repeat-y;
}

.x-shadow-t, .x-shadow-b{
	background:url(images/shadow-tb.png) repeat-x;
}

.x-shadow-rt {
    background-position: 0 -6px;
}

.x-shadow-r {
    background-position: -6px 0;
}

.x-shadow-lb {
    background-position: 0 -12px;
}

.x-shadow-b {
    background-position: 0 -6px;
}

.x-shadow-rb {
    background-position: 0 -18px;
}
