


/**  公共    */

/* 图标 */

.x-icon {
	background-image:url(images/icons.gif);
}

/* 只读 , 禁用  */
.x-readonly, input.x-disabled, textarea.x-disabled{
	border-color: #9eabb3 #d5dbdf #d5dbdf #9eabb3;
    background: #F6F6F6;
}

.x-disabled{
	color: gray!important;
	cursor: default;
}

/* 错误  */
.x-error {
    border-color: #F80C11 #FB7E81 #FB7E81 #F80C11;
}

/* 提示 */
.x-empty  {
	font-style: oblique;
	color: gray;
}

/* box */
.x-box{
	border:solid 1px #B8D0D6!important;
}

/* 醒目 */
.x-hign {
	background: orange;
}