.star a{
float:left;
cursor:pointer;
text-align:center;
width:16px;
height:16px;
background:url(http://deng.88014.com/tpl/star.gif) 0 -32px;}
.star a.hover{
background:url(http://deng.88014.com/tpl/star.gif) 0 -48px;}
.star a.select{
background:url(http://deng.88014.com/tpl/star.gif);}